.idea/
lesson_10_LK/promise-shop/node_modules
lesson_11_LK/class_11_Ex2_lk/node_modules
lesson_11_LK/class_11_Ex3_lk/node_modules
lesson_12_lk/cl12_ex1_lk/node_modules
lesson_12_lk/cl12ex2_lk/node_modules
lesson_10_LK/classNoteExamples
lesson_11_LK/class_11_HW_LK/TTD/bonus2/node_modules/
